# 6.1 - Sourcing Open Data

### Contents list:
1. Import libraries and data
2. Data wrangling
3. Data merging
4. Consistency checks
5. Export data

### 1. Import libraries and data

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# declare path as variable

path = r'/Users/dekstrom/Documents/CareerFoundry/Achievement 6'

In [3]:
# import WDICSV.csv as main dataframe

df_wdi = pd.read_csv(os.path.join(path,'01 Data','Original Data','WDI_CSV','WDICSV.csv'), index_col = False)

In [4]:
# import world_bank_income.csv as secondary dataframe

df_income = pd.read_csv(os.path.join(path,'01 Data','Original Data','world_bank_income.csv'), index_col = False)

In [5]:
# import national_religion.csv as tertiary dataframe

df_religion = pd.read_csv(os.path.join(path,'01 Data','Original Data','national_religion.csv'), index_col = False)

### 2. Data wrangling

##### Transpose data such that each 'Indicator Name' has its own column and 'Year' has one column

In [6]:
# show df head

df_wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213891,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.859257,33.903515,38.851444,40.197332,43.028332,44.389773,46.268621,48.103609,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.623956,16.516633,24.594474,25.389297,27.041743,29.138285,30.998687,32.772690,NaN,NaN

In [7]:
# melt years into one column for main df

df_melted = df_wdi.melt(id_vars=['Country Name','Country Code','Indicator Name','Indicator Code'], var_name='Year', value_name='Indicator Value', col_level=None, ignore_index=True)

In [8]:
# pivot df_melted so each indicator has it's own column

df_pivoted = df_melted.pivot_table(index=['Country Name', 'Country Code', 'Year'], columns='Indicator Name', values='Indicator Value').reset_index()

In [9]:
# remove index column name

df_pivoted.columns.name = None

In [10]:
# reset index and replace index

df_wdi_transposed = df_pivoted.reset_index(drop=True)

In [11]:
# check shape

df_wdi_transposed.shape

(16960, 1494)

In [12]:
# check output

df_wdi_transposed.head()

,Country Name,Country Code,Year,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),"Access to clean fuels and technologies for cooking, rural (% of rural population)","Access to clean fuels and technologies for cooking, urban (% of urban population)",Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",...,Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%),Young people (ages 15-24) newly infected with HIV
0,Afghanistan,AFG,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Change data types

In [13]:
# convert Year to int data type

df_wdi_transposed['Year'] = df_wdi_transposed['Year'].astype(int)

##### Remove columns that are not of interest

In [14]:
# define columns of interest

columns_keep = ['Country Name', 
                'Country Code', 
                'Year', 
                'Adjusted net national income (current US$)', 
                'Agricultural land (% of land area)', 
                'Alternative and nuclear energy (% of total energy use)', 
                'Armed forces personnel (% of total labor force)', 
                'Average working hours of children, study and work, ages 7-14 (hours per week)', 
                'Birth rate, crude (per 1,000 people)', 
                'Central government debt, total (% of GDP)', 
                'Children in employment, total (% of children ages 7-14)', 
                'Children out of school (% of primary school age)', 
                'CO2 emissions (kt)',  
                'Compulsory education, duration (years)', 
                'Coverage of social insurance programs (% of population)', 
                'Current education expenditure, total (% of total expenditure in public institutions)', 
                'Current health expenditure (% of GDP)', 
                'Death rate, crude (per 1,000 people)', 
                "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)", 
                'Electricity production from coal sources (% of total)', 
                'Electricity production from hydroelectric sources (% of total)', 
                'Electricity production from natural gas sources (% of total)', 
                'Electricity production from nuclear sources (% of total)', 
                'Electricity production from oil sources (% of total)', 
                'Electricity production from oil, gas and coal sources (% of total)', 
                'Electricity production from renewable sources, excluding hydroelectric (% of total)', 
                'GDP (current US$)', 
                'GDP growth (annual %)', 
                'GDP per capita (current US$)', 
                'GNI (current US$)', 
                'GNI per capita, Atlas method (current US$)', 
                'Income share held by fourth 20%', 
                'Income share held by highest 10%', 
                'Income share held by highest 20%', 
                'Income share held by lowest 10%', 
                'Income share held by lowest 20%', 
                'Income share held by second 20%', 
                'Income share held by third 20%', 
                'Individuals using the Internet (% of population)', 
                'Land area (sq. km)', 
                'Lending interest rate (%)', 
                'Life expectancy at birth, total (years)', 
                'Literacy rate, adult total (% of people ages 15 and above)', 
                'Military expenditure (% of GDP)', 
                'Mortality rate, infant (per 1,000 live births)', 
                'Population growth (annual %)', 
                'Population, total', 
                'Renewable electricity output (% of total electricity output)', 
                'Renewable energy consumption (% of total final energy consumption)', 
                'Suicide mortality rate (per 100,000 population)', 
                'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)', 
                'Urban population (% of total population)', 
                'Wanted fertility rate (births per woman)']

In [15]:
# create smaller data source with columns of interest

df_wdi_small = df_wdi_transposed[columns_keep]

### 3. Data merging

##### Preparing 2nd data set for merging into 1st to add income grouping as categorical variable

In [16]:
# melt years into one column for income df

df_income_melted = df_income.melt(id_vars=['Country Code', 'Country Name'], var_name='Year', value_name='Income Grouping', col_level=None, ignore_index=True)

In [17]:
# check df_income_melted

df_income_melted.head()

  Country Code    Country Name  Year Income Grouping
0          AFG     Afghanistan  1987               L
1          ALB         Albania  1987              ..
2          DZA         Algeria  1987              UM
3          ASM  American Samoa  1987               H
4          AND         Andorra  1987              ..

In [18]:
# create key column

df_income_melted['Code-Year'] = df_income_melted['Country Code'] + df_income_melted['Year'].astype(str)

In [19]:
# check result

df_income_melted.head()

  Country Code    Country Name  Year Income Grouping Code-Year
0          AFG     Afghanistan  1987               L   AFG1987
1          ALB         Albania  1987              ..   ALB1987
2          DZA         Algeria  1987              UM   DZA1987
3          ASM  American Samoa  1987               H   ASM1987
4          AND         Andorra  1987              ..   AND1987

In [20]:
# reorder columns

df_income_melted = df_income_melted[['Country Code', 'Country Name', 'Year',  'Code-Year', 'Income Grouping']]

In [21]:
# check result

df_income_melted.head()

  Country Code    Country Name  Year Code-Year Income Grouping
0          AFG     Afghanistan  1987   AFG1987               L
1          ALB         Albania  1987   ALB1987              ..
2          DZA         Algeria  1987   DZA1987              UM
3          ASM  American Samoa  1987   ASM1987               H
4          AND         Andorra  1987   AND1987              ..

##### Create key column in main df for merging

In [22]:
# create key column

df_wdi_small['Code-Year'] = df_wdi_small['Country Code'] + df_wdi_small['Year'].astype(str)

/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/2827073312.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wdi_small['Code-Year'] = df_wdi_small['Country Code'] + df_wdi_small['Year'].astype(str)

##### Reorder columns in main dataframe

In [23]:
# get current column list

df_wdi_small.columns.tolist()

['Country Name',
 'Country Code',
 'Year',
 'Adjusted net national income (current US$)',
 'Agricultural land (% of land area)',
 'Alternative and nuclear energy (% of total energy use)',
 'Armed forces personnel (% of total labor force)',
 'Average working hours of children, study and work, ages 7-14 (hours per week)',
 'Birth rate, crude (per 1,000 people)',
 'Central government debt, total (% of GDP)',
 'Children in employment, total (% of children ages 7-14)',
 'Children out of school (% of primary school age)',
 'CO2 emissions (kt)',
 'Compulsory education, duration (years)',
 'Coverage of social insurance programs (% of population)',
 'Current education expenditure, total (% of total expenditure in public institutions)',
 'Current health expenditure (% of GDP)',
 'Death rate, crude (per 1,000 people)',
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
 'Electricity production from coal sources (% of total)',
 'Electricity production from hydroelectric sources (% of total)',
 'Electricity production from natural gas sources (% of total)',
 'Electricity production from nuclear sources (% of total)',
 'Electricity production from oil sources (% of total)',
 'Electricity production from oil, gas and coal sources (% of total)',
 'Electricity production from renewable sources, excluding hydroelectric (% of total)',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (current US$)',
 'GNI (current US$)',
 'GNI per capita, Atlas method (current US$)',
 'Income share held by fourth 20%',
 'Income share held by highest 10%',
 'Income share held by highest 20%',
 'Income share held by lowest 10%',
 'Income share held by lowest 20%',
 'Income share held by second 20%',
 'Income share held by third 20%',
 'Individuals using the Internet (% of population)',
 'Land area (sq. km)',
 'Lending interest rate (%)',
 'Life expectancy at birth, total (years)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Military expenditure (% of GDP)',
 'Mortality rate, infant (per 1,000 live births)',
 'Population growth (annual %)',
 'Population, total',
 'Renewable electricity output (% of total electricity output)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Suicide mortality rate (per 100,000 population)',
 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
 'Urban population (% of total population)',
 'Wanted fertility rate (births per woman)',
 'Code-Year']

In [24]:
# define new column order

ordered_cols = ['Country Name',
 'Country Code',
 'Year',
 'Code-Year', 
 'Adjusted net national income (current US$)',
 'Agricultural land (% of land area)',
 'Alternative and nuclear energy (% of total energy use)',
 'Armed forces personnel (% of total labor force)',
 'Average working hours of children, study and work, ages 7-14 (hours per week)',
 'Birth rate, crude (per 1,000 people)',
 'Central government debt, total (% of GDP)',
 'Children in employment, total (% of children ages 7-14)',
 'Children out of school (% of primary school age)',
 'CO2 emissions (kt)',
 'Compulsory education, duration (years)',
 'Coverage of social insurance programs (% of population)',
 'Current education expenditure, total (% of total expenditure in public institutions)',
 'Current health expenditure (% of GDP)',
 'Death rate, crude (per 1,000 people)',
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
 'Electricity production from coal sources (% of total)',
 'Electricity production from hydroelectric sources (% of total)',
 'Electricity production from natural gas sources (% of total)',
 'Electricity production from nuclear sources (% of total)',
 'Electricity production from oil sources (% of total)',
 'Electricity production from oil, gas and coal sources (% of total)',
 'Electricity production from renewable sources, excluding hydroelectric (% of total)',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (current US$)',
 'GNI (current US$)',
 'GNI per capita, Atlas method (current US$)',
 'Income share held by fourth 20%',
 'Income share held by highest 10%',
 'Income share held by highest 20%',
 'Income share held by lowest 10%',
 'Income share held by lowest 20%',
 'Income share held by second 20%',
 'Income share held by third 20%',
 'Individuals using the Internet (% of population)',
 'Land area (sq. km)',
 'Lending interest rate (%)',
 'Life expectancy at birth, total (years)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Military expenditure (% of GDP)',
 'Mortality rate, infant (per 1,000 live births)',
 'Population growth (annual %)',
 'Population, total',
 'Renewable electricity output (% of total electricity output)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Suicide mortality rate (per 100,000 population)',
 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
 'Urban population (% of total population)',
 'Wanted fertility rate (births per woman)']

In [25]:
# reorder columns

df_wdi_new = df_wdi_small[ordered_cols]

In [26]:
# check output

df_wdi_new.head()

,Country Name,Country Code,Year,Code-Year,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)",...,Military expenditure (% of GDP),"Mortality rate, infant (per 1,000 live births)",Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman)
0,Afghanistan,AFG,1960,AFG1960,NaN,NaN,NaN,NaN,NaN,50.340,...,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN
1,Afghanistan,AFG,1961,AFG1961,NaN,57.878356,NaN,NaN,NaN,50.443,...,NaN,NaN,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN
2,Afghanistan,AFG,1962,AFG1962,NaN,57.955016,NaN,NaN,NaN,50.570,...,NaN,NaN,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN
3,Afghanistan,AFG,1963,AFG1963,NaN,58.031676,NaN,NaN,NaN,50.703,...,NaN,228.9,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN
4,Afghanistan,AFG,1964,AFG1964,NaN,58.116002,NaN,NaN,NaN,50.831,...,NaN,225.1,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN

##### Merge dataframes on Code-Year

In [27]:
# drop non-essential columns from secondary df

df_income_new = df_income_melted[['Code-Year', 'Income Grouping']]

In [28]:
# merge secondary df to main df on Code-Year

df_merged = df_wdi_new.merge(df_income_new, on = 'Code-Year', how = 'left')

In [29]:
# check output

df_merged.head()

,Country Name,Country Code,Year,Code-Year,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)",...,"Mortality rate, infant (per 1,000 live births)",Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman),Income Grouping
0,Afghanistan,AFG,1960,AFG1960,NaN,NaN,NaN,NaN,NaN,50.340,...,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN,NaN
1,Afghanistan,AFG,1961,AFG1961,NaN,57.878356,NaN,NaN,NaN,50.443,...,NaN,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN,NaN
2,Afghanistan,AFG,1962,AFG1962,NaN,57.955016,NaN,NaN,NaN,50.570,...,NaN,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN,NaN
3,Afghanistan,AFG,1963,AFG1963,NaN,58.031676,NaN,NaN,NaN,50.703,...,228.9,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN,NaN
4,Afghanistan,AFG,1964,AFG1964,NaN,58.116002,NaN,NaN,NaN,50.831,...,225.1,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN,NaN

##### Wrangle religion dataset to merge with main df to add religion as categorical variable

In [30]:
# show dataframe

df_religion.head()

,year,state,name,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,...,othrgenpct,sumreligpct,total,dualrelig,datatype,sourcereliab,recreliab,reliabilevel,Version,sourcecode
0,1945,2,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,...,0.0039,0.9961,1.0000,0,34,2,10,Medium,1.1,13
1,1950,2,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,...,0.0041,0.9959,1.0000,0,34,6,28,Low,1.1,18
2,1955,2,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,...,0.0193,0.9807,0.9999,0,134,5,10,Medium,1.1,15
3,1960,2,USA,90692928,50587880,3334535,2710065,2908939,150234347,973500,...,0.0076,0.9924,0.9999,0,134,2,10,Medium,1.1,13
4,1965,2,USA,94165803,64761783,4792868,2822149,973155,167515758,991200,...,0.0030,0.9970,1.0001,0,134,8,28,Low,1.1,20

In [31]:
# find number of last religion column

df_religion.columns.get_loc('othrgen')

37

In [32]:
# drop all non religion columns

df_religion = df_religion[df_religion.columns[0:38]]

In [33]:
# create key column

df_religion['Code-Year'] = df_religion['name'] + df_religion['year'].astype(str)

In [34]:
# rename inconsistent columns

df_religion.rename(columns={'jdcons': 'judcons'}, inplace=True)

In [35]:
# sum subreligion values into parent religion column

for row in df_religion.index:
    chrst, jud, islm, bud = 0, 0, 0, 0
    
    for col in df_religion.columns:
        if col.startswith('chrst') and abs(df_religion.loc[row,col]) > 0:
            chrst += df_religion.loc[row,col]
        elif col.startswith('jud') and abs(df_religion.loc[row,col]) > 0:
            jud += df_religion.loc[row,col]
        elif col.startswith('islm') and abs(df_religion.loc[row,col]) > 0:
            islm += df_religion.loc[row,col]
        elif col.startswith('bud') and abs(df_religion.loc[row,col]) > 0:
            bud += df_religion.loc[row,col]
    
    df_religion.loc[row, 'chrst'] = chrst
    df_religion.loc[row, 'jud'] = jud
    df_religion.loc[row, 'islm'] = islm
    df_religion.loc[row, 'bud'] = bud

In [36]:
# check output

df_religion.head()

,year,state,name,chrstprot,chrstcat,chrstorth,chrstang,chrstothr,chrstgen,judorth,...,confgen,syncgen,anmgen,nonrelig,othrgen,Code-Year,chrst,jud,islm,bud
0,1945,2,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,...,0,0,0,22874544,545938,USA1945,220530236.0,9282364.0,0.0,3202436.0
1,1950,2,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,...,0,0,0,22568130,618022,USA1950,245988038.0,12181674.0,0.0,0.0
2,1955,2,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,...,0,0,0,23303540,3202185,USA1955,268003540.0,10666664.0,0.0,180346.0
3,1960,2,USA,90692928,50587880,3334535,2710065,2908939,150234347,973500,...,0,0,0,21548225,1376297,USA1960,300468694.0,11000000.0,0.0,4024262.0
4,1965,2,USA,94165803,64761783,4792868,2822149,973155,167515758,991200,...,0,0,0,19852362,581988,USA1965,335031516.0,11200000.0,0.0,2161784.0

In [37]:
# show column names

df_religion.columns

Index(['year', 'state', 'name', 'chrstprot', 'chrstcat', 'chrstorth',
       'chrstang', 'chrstothr', 'chrstgen', 'judorth', 'judcons', 'judref',
       'judothr', 'judgen', 'islmsun', 'islmshi', 'islmibd', 'islmnat',
       'islmalw', 'islmahm', 'islmothr', 'islmgen', 'budmah', 'budthr',
       'budothr', 'budgen', 'zorogen', 'hindgen', 'sikhgen', 'shntgen',
       'bahgen', 'taogen', 'jaingen', 'confgen', 'syncgen', 'anmgen',
       'nonrelig', 'othrgen', 'Code-Year', 'chrst', 'jud', 'islm', 'bud'],
      dtype='object')

In [38]:
# define new columns

rel_cols = ['Code-Year', 'chrst', 'jud', 'islm', 'bud', 'zorogen', 'hindgen', 'sikhgen', 'shntgen',
       'bahgen', 'taogen', 'jaingen', 'confgen', 'syncgen', 'anmgen',
       'nonrelig', 'othrgen']

In [39]:
# create df with only needed columns

df_religion_new = df_religion[rel_cols]

In [40]:
# rename column names

df_religion_new.rename(columns={'chrst':'Christianity',
                                'jud':'Judaism',
                                'islm':'Islam',
                                'bud':'Buddhism',
                                'zorogen':'Zoroastrian',
                                'hindgen':'Hindu',
                                'sikhgen':'Sikh',
                                'shntgen':'Shinto',
                                'bahgen':'Bahaâ€™i',
                                'taogen':'Taoism',
                                'jaingen':'Jainism',
                                'confgen':'Confucianism',                                
                                'syncgen':'Syncretic',                                
                                'anmgen':'Animist',                                
                                'nonrelig':'Non Religious',                                
                                'othrgen':'Other Religions'}, inplace=True)

/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/2441684514.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_religion_new.rename(columns={'chrst':'Christianity',

In [41]:
# show result

df_religion_new.head()

,Code-Year,Christianity,Judaism,Islam,Buddhism,Zoroastrian,Hindu,Sikh,Shinto,Bahaâ€™i,Taoism,Jainism,Confucianism,Syncretic,Animist,Non Religious,Other Religions
0,USA1945,220530236.0,9282364.0,0.0,3202436.0,0,0,0,0,0,0,0,0,0,0,22874544,545938
1,USA1950,245988038.0,12181674.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,22568130,618022
2,USA1955,268003540.0,10666664.0,0.0,180346.0,0,0,0,0,0,0,0,0,0,0,23303540,3202185
3,USA1960,300468694.0,11000000.0,0.0,4024262.0,0,0,0,0,0,0,0,0,0,0,21548225,1376297
4,USA1965,335031516.0,11200000.0,0.0,2161784.0,0,0,0,0,0,0,0,0,0,0,19852362,581988

In [42]:
# create new column for top religion

for row in df_religion_new.index:
    df_religion_new.loc[row, 'Top religion by number of followers'] = df_religion_new[df_religion_new.columns[1:]].iloc[row].idxmax()

/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/3062857035.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_religion_new.loc[row, 'Top religion by number of followers'] = df_religion_new[df_religion_new.columns[1:]].iloc[row].idxmax()
/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/3062857035.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Christianity' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_religion_new.loc[row, 'Top religion by number of followers'] = df_religion_new[df_religion_new.columns[1:]].iloc[row].idxmax()

In [43]:
# check output

df_religion_new.head()

,Code-Year,Christianity,Judaism,Islam,Buddhism,Zoroastrian,Hindu,Sikh,Shinto,Bahaâ€™i,Taoism,Jainism,Confucianism,Syncretic,Animist,Non Religious,Other Religions,Top religion by number of followers
0,USA1945,220530236.0,9282364.0,0.0,3202436.0,0,0,0,0,0,0,0,0,0,0,22874544,545938,Christianity
1,USA1950,245988038.0,12181674.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,22568130,618022,Christianity
2,USA1955,268003540.0,10666664.0,0.0,180346.0,0,0,0,0,0,0,0,0,0,0,23303540,3202185,Christianity
3,USA1960,300468694.0,11000000.0,0.0,4024262.0,0,0,0,0,0,0,0,0,0,0,21548225,1376297,Christianity
4,USA1965,335031516.0,11200000.0,0.0,2161784.0,0,0,0,0,0,0,0,0,0,0,19852362,581988,Christianity

In [44]:
# show value counts of top religions

df_religion_new['Top religion by number of followers'].value_counts()

Top religion by number of followers
Christianity     1269
Islam             484
Buddhism          110
Non Religious      41
Animist            28
Hindu              27
Syncretic          23
Judaism            13
Name: count, dtype: int64

In [45]:
# drop non-essential columns from df_religion_new

df_religion_small = df_religion_new[['Code-Year', 'Top religion by number of followers']]

##### Fill in Top Religion for all years with the assumption that if year 0 and year 5 have the same top religion, then years 1 - 4 do as well. If year 0 and year 5 have different religions, then years 1 - 4 will take year 0's top religion.

In [46]:
# parse out code-year into 2 columns

df_religion_small[['Country', 'Year']] = df_religion_small['Code-Year'].str.extract(r'([A-Za-z]+)(\d+)')

/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/3604597668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_religion_small[['Country', 'Year']] = df_religion_small['Code-Year'].str.extract(r'([A-Za-z]+)(\d+)')
/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/3604597668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_religion_small[['Country', 'Year']] = df_religion_small['Code-Year'].str.extract(r'([A-Za-z]+)(\d+)')

In [47]:
# convert Year to int datatype

df_religion_small['Year'] = df_religion_small['Year'].astype(int)

/var/folders/8w/2xbh8c1d2qnd_6yc30_xs1cw0000gp/T/ipykernel_27464/1974614213.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_religion_small['Year'] = df_religion_small['Year'].astype(int)

In [48]:
# create df with al years

all_years = []
for country in df_religion_small['Country'].unique():
    df_country = df_religion_small[df_religion_small['Country'] == country]
    min_year = df_country['Year'].min()
    max_year = df_country['Year'].max()
    
    df_all_years = pd.DataFrame({'Year': range(min_year, max_year + 6),'Country': country})
    
    all_years.append(df_all_years)

In [49]:
# combine dfs of each country

df_expanded = pd.concat(all_years)

In [50]:
# merge with origial df

df_expanded_religion = df_expanded.merge(df_religion_small, on = ['Country', 'Year'], how = 'left')

In [51]:
# sort values by country and year

df_expanded_religion.sort_values(by=['Country', 'Year'], inplace=True)

In [52]:
# forward fill top religion column

df_expanded_religion['Top religion by number of followers'] = df_expanded_religion.groupby('Country')['Top religion by number of followers'].ffill()

In [53]:
# redefine Code-Year

df_expanded_religion['Code-Year'] = df_expanded_religion['Country'] + df_expanded_religion['Year'].astype(str)

In [54]:
# drop unnecessary columns for merge

df_expanded_religion_small = df_expanded_religion.drop(['Country', 'Year'], axis = 1)

##### Merge df_religion with df_merged on Code-Year

In [55]:
# merge secondary df to main df on Code-Year

df_merged_final = df_merged.merge(df_expanded_religion_small, on = 'Code-Year', how = 'left')

In [56]:
# check output

df_merged_final.head()

,Country Name,Country Code,Year,Code-Year,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)",...,Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman),Income Grouping,Top religion by number of followers
0,Afghanistan,AFG,1960,AFG1960,NaN,NaN,NaN,NaN,NaN,50.340,...,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN,NaN,Islam
1,Afghanistan,AFG,1961,AFG1961,NaN,57.878356,NaN,NaN,NaN,50.443,...,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN,NaN,Islam
2,Afghanistan,AFG,1962,AFG1962,NaN,57.955016,NaN,NaN,NaN,50.570,...,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN,NaN,Islam
3,Afghanistan,AFG,1963,AFG1963,NaN,58.031676,NaN,NaN,NaN,50.703,...,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN,NaN,Islam
4,Afghanistan,AFG,1964,AFG1964,NaN,58.116002,NaN,NaN,NaN,50.831,...,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN,NaN,Islam

In [57]:
# check Top Religion value counts

df_merged_final['Top religion by number of followers'].value_counts()

Top religion by number of followers
Christianity     2569
Islam            1052
Buddhism          112
Non Religious     107
Hindu              56
Judaism            56
Animist            45
Syncretic          36
Name: count, dtype: int64

In [58]:
# replace Income Groupings with more legigble names

df_merged_final['Income Grouping'] = df_merged_final['Income Grouping'].replace({'H': 'High income','L': 'Low income','LM': 'Lower middle income','UM': 'Upper middle income','LM*': 'Lower middle income', '..': np.nan})

In [59]:
# check Income Grouping value counts

df_merged_final['Income Grouping'].value_counts()

Income Grouping
High income            1823
Lower middle income    1781
Low income             1579
Upper middle income    1291
Name: count, dtype: int64

In [60]:
# check output

df_merged_final.head()

,Country Name,Country Code,Year,Code-Year,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)",...,Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman),Income Grouping,Top religion by number of followers
0,Afghanistan,AFG,1960,AFG1960,NaN,NaN,NaN,NaN,NaN,50.340,...,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN,NaN,Islam
1,Afghanistan,AFG,1961,AFG1961,NaN,57.878356,NaN,NaN,NaN,50.443,...,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN,NaN,Islam
2,Afghanistan,AFG,1962,AFG1962,NaN,57.955016,NaN,NaN,NaN,50.570,...,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN,NaN,Islam
3,Afghanistan,AFG,1963,AFG1963,NaN,58.031676,NaN,NaN,NaN,50.703,...,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN,NaN,Islam
4,Afghanistan,AFG,1964,AFG1964,NaN,58.116002,NaN,NaN,NaN,50.831,...,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN,NaN,Islam

### 4. Consistency checks

In [61]:
# get column list

df_merged_final.columns.to_list()

['Country Name',
 'Country Code',
 'Year',
 'Code-Year',
 'Adjusted net national income (current US$)',
 'Agricultural land (% of land area)',
 'Alternative and nuclear energy (% of total energy use)',
 'Armed forces personnel (% of total labor force)',
 'Average working hours of children, study and work, ages 7-14 (hours per week)',
 'Birth rate, crude (per 1,000 people)',
 'Central government debt, total (% of GDP)',
 'Children in employment, total (% of children ages 7-14)',
 'Children out of school (% of primary school age)',
 'CO2 emissions (kt)',
 'Compulsory education, duration (years)',
 'Coverage of social insurance programs (% of population)',
 'Current education expenditure, total (% of total expenditure in public institutions)',
 'Current health expenditure (% of GDP)',
 'Death rate, crude (per 1,000 people)',
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
 'Electricity production from coal sources (% of total)',
 'Electricity production from hydroelectric sources (% of total)',
 'Electricity production from natural gas sources (% of total)',
 'Electricity production from nuclear sources (% of total)',
 'Electricity production from oil sources (% of total)',
 'Electricity production from oil, gas and coal sources (% of total)',
 'Electricity production from renewable sources, excluding hydroelectric (% of total)',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (current US$)',
 'GNI (current US$)',
 'GNI per capita, Atlas method (current US$)',
 'Income share held by fourth 20%',
 'Income share held by highest 10%',
 'Income share held by highest 20%',
 'Income share held by lowest 10%',
 'Income share held by lowest 20%',
 'Income share held by second 20%',
 'Income share held by third 20%',
 'Individuals using the Internet (% of population)',
 'Land area (sq. km)',
 'Lending interest rate (%)',
 'Life expectancy at birth, total (years)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Military expenditure (% of GDP)',
 'Mortality rate, infant (per 1,000 live births)',
 'Population growth (annual %)',
 'Population, total',
 'Renewable electricity output (% of total electricity output)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Suicide mortality rate (per 100,000 population)',
 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
 'Urban population (% of total population)',
 'Wanted fertility rate (births per woman)',
 'Income Grouping',
 'Top religion by number of followers']

In [62]:
df_main = df_merged_final[['Country Name',
 'Country Code',
 'Year',
 'Income Grouping',
 'Top religion by number of followers',
 'Adjusted net national income (current US$)',
 'Agricultural land (% of land area)',
 'Alternative and nuclear energy (% of total energy use)',
 'Armed forces personnel (% of total labor force)',
 'Average working hours of children, study and work, ages 7-14 (hours per week)',
 'Birth rate, crude (per 1,000 people)',
 'Central government debt, total (% of GDP)',
 'Children in employment, total (% of children ages 7-14)',
 'Children out of school (% of primary school age)',
 'CO2 emissions (kt)',
 'Compulsory education, duration (years)',
 'Coverage of social insurance programs (% of population)',
 'Current education expenditure, total (% of total expenditure in public institutions)',
 'Current health expenditure (% of GDP)',
 'Death rate, crude (per 1,000 people)',
 "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
 'Electricity production from coal sources (% of total)',
 'Electricity production from hydroelectric sources (% of total)',
 'Electricity production from natural gas sources (% of total)',
 'Electricity production from nuclear sources (% of total)',
 'Electricity production from oil sources (% of total)',
 'Electricity production from oil, gas and coal sources (% of total)',
 'Electricity production from renewable sources, excluding hydroelectric (% of total)',
 'GDP (current US$)',
 'GDP growth (annual %)',
 'GDP per capita (current US$)',
 'GNI (current US$)',
 'GNI per capita, Atlas method (current US$)',
 'Income share held by fourth 20%',
 'Income share held by highest 10%',
 'Income share held by highest 20%',
 'Income share held by lowest 10%',
 'Income share held by lowest 20%',
 'Income share held by second 20%',
 'Income share held by third 20%',
 'Individuals using the Internet (% of population)',
 'Land area (sq. km)',
 'Lending interest rate (%)',
 'Life expectancy at birth, total (years)',
 'Literacy rate, adult total (% of people ages 15 and above)',
 'Military expenditure (% of GDP)',
 'Mortality rate, infant (per 1,000 live births)',
 'Population growth (annual %)',
 'Population, total',
 'Renewable electricity output (% of total electricity output)',
 'Renewable energy consumption (% of total final energy consumption)',
 'Suicide mortality rate (per 100,000 population)',
 'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)',
 'Urban population (% of total population)',
 'Wanted fertility rate (births per woman)']]

##### Check for mixed data type

In [63]:
# check for mixed-type columns in a data frame

for col in df_main.columns.tolist():
  weird = (df_main[[col]].map(type) != df_main[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_main[weird]) > 0:
    print (col)

Income Grouping
Top religion by number of followers

##### Check for missing values

In [64]:
# check for missing values and return count for each column

df_main.isnull().sum()

Country Name                                                                                                0
Country Code                                                                                                0
Year                                                                                                        0
Income Grouping                                                                                         10486
Top religion by number of followers                                                                     12927
Adjusted net national income (current US$)                                                               7379
Agricultural land (% of land area)                                                                       2246
Alternative and nuclear energy (% of total energy use)                                                   8735
Armed forces personnel (% of total labor force)                                                         10681
Average working hours of children, study and work, ages 7-14 (hours per week)                           16828
Birth rate, crude (per 1,000 people)                                                                      923
Central government debt, total (% of GDP)                                                               14880
Children in employment, total (% of children ages 7-14)                                                 16679
Children out of school (% of primary school age)                                                        12039
CO2 emissions (kt)                                                                                       9552
Compulsory education, duration (years)                                                                  11150
Coverage of social insurance programs (% of population)                                                 16505
Current education expenditure, total (% of total expenditure in public institutions)                    15015
Current health expenditure (% of GDP)                                                                   12013
Death rate, crude (per 1,000 people)                                                                      941
Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)       16342
Electricity production from coal sources (% of total)                                                    8895
Electricity production from hydroelectric sources (% of total)                                           8895
Electricity production from natural gas sources (% of total)                                             8895
Electricity production from nuclear sources (% of total)                                                 9022
Electricity production from oil sources (% of total)                                                     8895
Electricity production from oil, gas and coal sources (% of total)                                       8895
Electricity production from renewable sources, excluding hydroelectric (% of total)                      8895
GDP (current US$)                                                                                        3762
GDP growth (annual %)                                                                                    4196
GDP per capita (current US$)                                                                             3758
GNI (current US$)                                                                                        4982
GNI per capita, Atlas method (current US$)                                                               5972
Income share held by fourth 20%                                                                         14853
Income share held by highest 10%                                                                        14853
Income share held by highest 20%                                                                        14853
Income share held by lowest 10%                                                                         14853
Income share held by lowest 20%                                                                         14853
Income share held by second 20%                                                                         14853
Income share held by third 20%                                                                          14853
Individuals using the Internet (% of population)                                                         8916
Land area (sq. km)                                                                                       2030
Lending interest rate (%)                                                                               12413
Life expectancy at birth, total (years)                                                                  1094
Literacy rate, adult total (% of people ages 15 and above)                                              14225
Military expenditure (% of GDP)                                                                          6838
Mortality rate, infant (per 1,000 live births)                                                           4364
Population growth (annual %)                                                                              562
Population, total                                                                                         295
Renewable electricity output (% of total electricity output)                                            10066
Renewable energy consumption (% of total final energy consumption)                                       8884
Suicide mortality rate (per 100,000 population)                                                         12340
Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)    15789
Urban population (% of total population)                                                                  391
Wanted fertility rate (births per woman)                                                                16618
dtype: int64

In [65]:
# copy missing values to clipboard

df_main.isnull().sum().to_clipboard()

In [66]:
# check shape

df_main.shape

(16960, 55)

In [67]:
# check for 0 value columns

for col in df_main.columns.tolist():
  if df_main[col].dtype in ['int64','float64', 'int','float'] and df_main[col].sum() == 0:
    print (col)

##### Check for full duplicates

In [68]:
# check for full duplicates

df_dups = df_main[df_main.duplicated()]

In [69]:
# show duplicates

df_dups

Empty DataFrame
Columns: [Country Name, Country Code, Year, Income Grouping, Top religion by number of followers, Adjusted net national income (current US$), Agricultural land (% of land area), Alternative and nuclear energy (% of total energy use), Armed forces personnel (% of total labor force), Average working hours of children, study and work, ages 7-14 (hours per week), Birth rate, crude (per 1,000 people), Central government debt, total (% of GDP), Children in employment, total (% of children ages 7-14), Children out of school (% of primary school age), CO2 emissions (kt), Compulsory education, duration (years), Coverage of social insurance programs (% of population), Current education expenditure, total (% of total expenditure in public institutions), Current health expenditure (% of GDP), Death rate, crude (per 1,000 people), Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative), Electricity production from coal sources (% of total), Electricity production from hydroelectric sources (% of total), Electricity production from natural gas sources (% of total), Electricity production from nuclear sources (% of total), Electricity production from oil sources (% of total), Electricity production from oil, gas and coal sources (% of total), Electricity production from renewable sources, excluding hydroelectric (% of total), GDP (current US$), GDP growth (annual %), GDP per capita (current US$), GNI (current US$), GNI per capita, Atlas method (current US$), Income share held by fourth 20%, Income share held by highest 10%, Income share held by highest 20%, Income share held by lowest 10%, Income share held by lowest 20%, Income share held by second 20%, Income share held by third 20%, Individuals using the Internet (% of population), Land area (sq. km), Lending interest rate (%), Life expectancy at birth, total (years), Literacy rate, adult total (% of people ages 15 and above), Military expenditure (% of GDP), Mortality rate, infant (per 1,000 live births), Population growth (annual %), Population, total, Renewable electricity output (% of total electricity output), Renewable energy consumption (% of total final energy consumption), Suicide mortality rate (per 100,000 population), Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age), Urban population (% of total population), Wanted fertility rate (births per woman)]
Index: []

[0 rows x 55 columns]

##### Descriptive Analysis

In [70]:
# remove Juypyter displayed column limit

pd.set_option('display.max_columns', None)

In [71]:
# show overview of columns statistics

df_main.describe()

,Year,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)","Central government debt, total (% of GDP)","Children in employment, total (% of children ages 7-14)",Children out of school (% of primary school age),CO2 emissions (kt),"Compulsory education, duration (years)",Coverage of social insurance programs (% of population),"Current education expenditure, total (% of total expenditure in public institutions)",Current health expenditure (% of GDP),"Death rate, crude (per 1,000 people)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Electricity production from coal sources (% of total),Electricity production from hydroelectric sources (% of total),Electricity production from natural gas sources (% of total),Electricity production from nuclear sources (% of total),Electricity production from oil sources (% of total),"Electricity production from oil, gas and coal sources (% of total)","Electricity production from renewable sources, excluding hydroelectric (% of total)",GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GNI (current US$),"GNI per capita, Atlas method (current US$)",Income share held by fourth 20%,Income share held by highest 10%,Income share held by highest 20%,Income share held by lowest 10%,Income share held by lowest 20%,Income share held by second 20%,Income share held by third 20%,Individuals using the Internet (% of population),Land area (sq. km),Lending interest rate (%),"Life expectancy at birth, total (years)","Literacy rate, adult total (% of people ages 15 and above)",Military expenditure (% of GDP),"Mortality rate, infant (per 1,000 live births)",Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman)
count,16960.000000,9.581000e+03,14714.000000,8225.000000,6279.000000,132.00000,16037.000000,2080.000000,281.000000,4921.000000,7.408000e+03,5810.000000,455.000000,1945.000000,4947.000000,16019.000000,618.000000,8065.000000,8065.000000,8065.000000,7938.000000,8065.000000,8065.000000,8065.000000,1.319800e+04,12764.000000,13202.000000,1.197800e+04,10988.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,8044.000000,1.493000e+04,4547.000000,15866.000000,2735.000000,10122.000000,12596.000000,16398.000000,1.666500e+04,6894.000000,8076.000000,4620.000000,1171.000000,16569.000000,342.000000
mean,1991.500000,1.276940e+12,36.945264,5.804211,1.571610,13.61419,28.203391,59.577998,20.949517,12.933138,1.023986e+06,9.414544,20.793914,90.792324,6.157739,10.490354,15.932816,19.848197,30.783203,17.748437,4.684124,21.586641,59.183275,1.904231,1.223794e+12,3.681947,8576.243899,1.335596e+12,8029.679589,21.778026,29.502421,44.878358,2.556716,6.615615,11.213242,15.515282,24.495529,5.078664e+06,38.965919,64.254193,74.688540,2.775668,48.715371,1.752498,2.159737e+08,28.279664,31.029558,10.555205,5.445307,50.236006,3.470072
std,18.473498,4.953407e+12,20.552401,8.940907,1.861812,7.41143,12.862546,67.731872,16.786293,17.273893,3.343747e+06,2.174114,17.959169,7.373851,2.746426,5.358976,9.971683,26.258791,30.352520,25.447372,11.721326,27.344254,31.173961,4.820116,5.453493e+12,5.849181,17075.778408,5.714186e+12,14122.539944,1.393839,6.769641,7.268922,0.964186,2.057423,2.261421,2.034287,29.817489,1.406167e+07,1480.991729,11.112156,18.904434,2.886450,43.474140,1.656360,7.102653e+08,31.435120,29.858553,8.260954,3.951727,24.771559,1.351323
min,1960.000000,-7.930332e+07,0.262821,0.000000,0.000000,1.90000,5.000000,-1.170726,1.000000,0.000000,0.000000e+00,0.000000,0.539037,32.809990,1.263576,0.795000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.824744e+06,-64.047107,11.792676,9.122751e+06,10.000000,11.700000,18.300000,32.600000,0.000000,0.800000,4.300000,7.500000,0.000000,2.027000e+00,0.500000,11.995000,5.404650,0.000017,1.000000,-27.722225,2.646000e+03,0.000000,0.000000,0.000000,0.000000,2.077000,0.800000
25%,1975.750000,3.991382e+09,20.454545,0.736204,0.573915,8.37500,16.438000,31.915589,6.900000,1.572950,2.260363e+03,8.500000,5.499987,88.871834,4.247776,6.976522,8.169485,0.000000,5.574207,0.000000,0.000000,2.560674,34.656811,0.000000,2.434830e+09,1.452522,586.146075,2.491266e+09,680.000000,21.100000,24.500000,39.400000,1.800000,5.200000,9.700000,14.300000,0.231414,2.164000e+04,8.000000,56.810602,59.864180,1.324836,14.400000,0.755943,9.940000e+05,0.509611,5.065460,5.400000,2.114920,29.973978,2.300000
50%,1991.500000,3.207355e+10,37.470745,2.374866,0.978027,13.05000,27.065000,51.201818,15.100000,5.677750,2.383475e+04,9.000000,11.717569,92.167168,5.405953,9.200000,14.934020,3.168363,19.044913,7.048799,0.000000,10.298507,64.974231,0.187731,1.785744e+10,3.815394,1981.206635,1.785212e+10,2221.521879,22.200000,27.500000,42.900000,2.600000,6.900000,11.700000,16.100000,8.383895,2.419300e+05,11.664167,66.776719,77.268372,2.049239,35.200000,1.744435,6.787419e+06,17.097636,20.989980,8.500000,4.917760,48.781000,3.400000
75%,2007.250000,3.178861e+11,50.737179,6.972382,1.765428,16.50000,39.752000,73.915407,33.100000,15.940600,2.500045e+05,10.000000,36.154644,95.089569,7.755445,12.441818,22.747580,36.749036,52.655459,23.158391,1.971511,28.678285,86.724638,1.351324,2.264476e+11,6.092130,8126.136123,2.583900e+11,7992.500000,22.700000,33.200000,49.100000,3.300000,8.200000,12.900000,17.100000,44.849200,1.444290e+06,17.110833,72.568000,92.372696,3.320275,70.700000,2.618453,4.641603e+07,49.180950,53.904220,13.106309,8.332725,69.524000,4.500000
max,2023.000000,7.689246e+13,93.440750,71.542360,19.103127,40.30000,58.121000,2002.510415,74.400000,89.862869,3.556056e+07,17.000000,59.520414,100.000000,24.230680,103.534000,59.260880,100.000000,100.000000,100.000000,87.986221,100.000000,100.000000,65.443742,1.008796e+14,149.972963,240862.182448,1.008930e+14,125210.000000,25.500000,61.500000,71.000000,5.100000,11.700000,15.600000,19.100000,100.000000,1.299507e+08,99764.532950,85.497561,100.000000,117.349823,278.200000,20.473239,7.950947e+09,100.000000,98.340000,92.600000,19.047270,100.000000,7.400000

In [72]:
# copy column statistics to clipboard

df_main.describe().to_clipboard()

In [73]:
# check df

df_main.head()

,Country Name,Country Code,Year,Income Grouping,Top religion by number of followers,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)","Central government debt, total (% of GDP)","Children in employment, total (% of children ages 7-14)",Children out of school (% of primary school age),CO2 emissions (kt),"Compulsory education, duration (years)",Coverage of social insurance programs (% of population),"Current education expenditure, total (% of total expenditure in public institutions)",Current health expenditure (% of GDP),"Death rate, crude (per 1,000 people)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Electricity production from coal sources (% of total),Electricity production from hydroelectric sources (% of total),Electricity production from natural gas sources (% of total),Electricity production from nuclear sources (% of total),Electricity production from oil sources (% of total),"Electricity production from oil, gas and coal sources (% of total)","Electricity production from renewable sources, excluding hydroelectric (% of total)",GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GNI (current US$),"GNI per capita, Atlas method (current US$)",Income share held by fourth 20%,Income share held by highest 10%,Income share held by highest 20%,Income share held by lowest 10%,Income share held by lowest 20%,Income share held by second 20%,Income share held by third 20%,Individuals using the Internet (% of population),Land area (sq. km),Lending interest rate (%),"Life expectancy at birth, total (years)","Literacy rate, adult total (% of people ages 15 and above)",Military expenditure (% of GDP),"Mortality rate, infant (per 1,000 live births)",Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman)
0,Afghanistan,AFG,1960,NaN,Islam,NaN,NaN,NaN,NaN,NaN,50.340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.377778e+08,NaN,62.369375,5.488888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.535,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN
1,Afghanistan,AFG,1961,NaN,Islam,NaN,57.878356,NaN,NaN,NaN,50.443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.488889e+08,NaN,62.443703,5.600000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.068,NaN,NaN,NaN,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN
2,Afghanistan,AFG,1962,NaN,Islam,NaN,57.955016,NaN,NaN,NaN,50.570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.466667e+08,NaN,60.950364,5.577778e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.547,NaN,NaN,NaN,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN
3,Afghanistan,AFG,1963,NaN,Islam,NaN,58.031676,NaN,NaN,NaN,50.703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.511112e+08,NaN,82.021738,7.666667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.016,NaN,NaN,228.9,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN
4,Afghanistan,AFG,1964,NaN,Islam,NaN,58.116002,NaN,NaN,NaN,50.831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e+08,NaN,85.511073,8.155556e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.494,NaN,NaN,225.1,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN

In [74]:
# get max of population

df_main['Population, total'].max()

7950946801.0

In [75]:
# get unique country names

df_unique_country = df_main['Country Name'].drop_duplicates().to_clipboard()

In [76]:
# define countries to exclude

countries_to_drop = ['Africa Eastern and Southern',
'Africa Western and Central',
'Arab World',
'Caribbean small states',
'Early-demographic dividend',
'East Asia & Pacific',
'East Asia & Pacific (excluding high income)',
'East Asia & Pacific (IDA & IBRD countries)',
'Euro area',
'Europe & Central Asia',
'Europe & Central Asia (excluding high income)',
'Europe & Central Asia (IDA & IBRD countries)',
'European Union',
'Fragile and conflict affected situations',
'Heavily indebted poor countries (HIPC)',
'High income',
'IBRD only',
'IDA & IBRD total',
'IDA blend',
'IDA only',
'IDA total',
'Late-demographic dividend',
'Latin America & Caribbean',
'Latin America & Caribbean (excluding high income)',
'Latin America & the Caribbean (IDA & IBRD countries)',
'Least developed countries: UN classification',
'Low & middle income',
'Low income',
'Lower middle income',
'Middle East & North Africa',
'Middle East & North Africa (excluding high income)',
'Middle East & North Africa (IDA & IBRD countries)',
'Middle income',
'North America',
'OECD members',
'Other small states',
'Pacific island small states',
'Post-demographic dividend',
'Pre-demographic dividend',
'Small states',
'South Asia',
'South Asia (IDA & IBRD)',
'Sub-Saharan Africa',
'Sub-Saharan Africa (excluding high income)',
'Sub-Saharan Africa (IDA & IBRD countries)',
'Upper middle income',
'World']

In [77]:
# drop non-country rows

df_clean = df_main[~df_main['Country Name'].isin(countries_to_drop)]

In [78]:
# check result

df_clean.head()

,Country Name,Country Code,Year,Income Grouping,Top religion by number of followers,Adjusted net national income (current US$),Agricultural land (% of land area),Alternative and nuclear energy (% of total energy use),Armed forces personnel (% of total labor force),"Average working hours of children, study and work, ages 7-14 (hours per week)","Birth rate, crude (per 1,000 people)","Central government debt, total (% of GDP)","Children in employment, total (% of children ages 7-14)",Children out of school (% of primary school age),CO2 emissions (kt),"Compulsory education, duration (years)",Coverage of social insurance programs (% of population),"Current education expenditure, total (% of total expenditure in public institutions)",Current health expenditure (% of GDP),"Death rate, crude (per 1,000 people)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Electricity production from coal sources (% of total),Electricity production from hydroelectric sources (% of total),Electricity production from natural gas sources (% of total),Electricity production from nuclear sources (% of total),Electricity production from oil sources (% of total),"Electricity production from oil, gas and coal sources (% of total)","Electricity production from renewable sources, excluding hydroelectric (% of total)",GDP (current US$),GDP growth (annual %),GDP per capita (current US$),GNI (current US$),"GNI per capita, Atlas method (current US$)",Income share held by fourth 20%,Income share held by highest 10%,Income share held by highest 20%,Income share held by lowest 10%,Income share held by lowest 20%,Income share held by second 20%,Income share held by third 20%,Individuals using the Internet (% of population),Land area (sq. km),Lending interest rate (%),"Life expectancy at birth, total (years)","Literacy rate, adult total (% of people ages 15 and above)",Military expenditure (% of GDP),"Mortality rate, infant (per 1,000 live births)",Population growth (annual %),"Population, total",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)",Urban population (% of total population),Wanted fertility rate (births per woman)
0,Afghanistan,AFG,1960,NaN,Islam,NaN,NaN,NaN,NaN,NaN,50.340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.377778e+08,NaN,62.369375,5.488888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.535,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN
1,Afghanistan,AFG,1961,NaN,Islam,NaN,57.878356,NaN,NaN,NaN,50.443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.488889e+08,NaN,62.443703,5.600000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.068,NaN,NaN,NaN,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN
2,Afghanistan,AFG,1962,NaN,Islam,NaN,57.955016,NaN,NaN,NaN,50.570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.466667e+08,NaN,60.950364,5.577778e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.547,NaN,NaN,NaN,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN
3,Afghanistan,AFG,1963,NaN,Islam,NaN,58.031676,NaN,NaN,NaN,50.703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.511112e+08,NaN,82.021738,7.666667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.016,NaN,NaN,228.9,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN
4,Afghanistan,AFG,1964,NaN,Islam,NaN,58.116002,NaN,NaN,NaN,50.831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e+08,NaN,85.511073,8.155556e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.494,NaN,NaN,225.1,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN

In [79]:
# check shape

df_clean.shape

(13952, 55)

In [81]:
# rename columns

df_renamed = df_clean.rename(columns = {'Top religion by number of followers': 'Top religion', 
'Adjusted net national income (current US$)': 'National income', 
'Agricultural land (% of land area)': 'Agricultural land %', 
'Alternative and nuclear energy (% of total energy use)': 'Alternative & nuclear energy use %', 
'Armed forces personnel (% of total labor force)': 'Armed forces personnel %', 
'Average working hours of children, study and work, ages 7-14 (hours per week)': 'Avg child working hours', 
'Birth rate, crude (per 1,000 people)': 'Birth rate', 
'Central government debt, total (% of GDP)': 'Government debt %', 
'Children in employment, total (% of children ages 7-14)': 'Employed children %', 
'Children out of school (% of primary school age)': 'Children out of school %', 
'CO2 emissions (kt)': 'CO2 emissions', 
'Compulsory education, duration (years)': 'Compulsory education duration', 
'Coverage of social insurance programs (% of population)': 'Social insurance coverage %', 
'Current education expenditure, total (% of total expenditure in public institutions)': 'Current education expenditure %', 
'Current health expenditure (% of GDP)': 'Current health expenditure %', 
'Death rate, crude (per 1,000 people)': 'Death rate', 
"Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)": 'Bachelor+ education %', 
'Electricity production from coal sources (% of total)': 'Electricity prod - coal %', 
'Electricity production from hydroelectric sources (% of total)': 'Electricity prod - hydroelectric %', 
'Electricity production from natural gas sources (% of total)': 'Electricity prod - natural gas %', 
'Electricity production from nuclear sources (% of total)': 'Electricity prod - nuclear %', 
'Electricity production from oil sources (% of total)': 'Electricity prod - oil %', 
'Electricity production from oil, gas and coal sources (% of total)': 'Electricity prod - oil, gas & coal %', 
'Electricity production from renewable sources, excluding hydroelectric (% of total)': 'Electricity prod - renewables %', 
'GDP (current US$)': 'GDP', 
'GDP growth (annual %)': 'GDP growth %', 
'GDP per capita (current US$)': 'GDP per capita', 
'GNI (current US$)': 'GNI', 
'GNI per capita, Atlas method (current US$)': 'GNI per capita', 
'Income share held by fourth 20%': 'Income share - fourth 20%', 
'Income share held by highest 10%': 'Income share - top 10%', 
'Income share held by highest 20%': 'Income share - top 20%', 
'Income share held by lowest 10%': 'Income share - bottom 10%', 
'Income share held by lowest 20%': 'Income share - bottom 20%', 
'Income share held by second 20%': 'Income share - second 20%', 
'Income share held by third 20%': 'Income share - third 20%', 
'Individuals using the Internet (% of population)': 'Internet users %', 
'Land area (sq. km)': 'Land area', 
'Lending interest rate (%)': 'Lending interest rate', 
'Life expectancy at birth, total (years)': 'Life expectancy at birth', 
'Literacy rate, adult total (% of people ages 15 and above)': 'Literacy rate', 
'Military expenditure (% of GDP)': 'Military expenditure %', 
'Mortality rate, infant (per 1,000 live births)': 'Infant mortality rate', 
'Population growth (annual %)': 'Population growth', 
'Population, total': 'Population', 
'Renewable electricity output (% of total electricity output)': 'Renewable electricity output %', 
'Renewable energy consumption (% of total final energy consumption)': 'Renewable energy consumption %', 
'Suicide mortality rate (per 100,000 population)': 'Suicide mortality rate', 
'Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)': 'Alcohol consumption per capita', 
'Urban population (% of total population)': 'Urban population %', 
'Wanted fertility rate (births per woman)': 'Wanted fertility rate'})

In [82]:
# describe new df

df_renamed.describe()

,Year,National income,Agricultural land %,Alternative & nuclear energy use %,Armed forces personnel %,Avg child working hours,Birth rate,Government debt %,Employed children %,Children out of school %,CO2 emissions,Compulsory education duration,Social insurance coverage %,Current education expenditure %,Current health expenditure %,Death rate,Bachelor+ education %,Electricity prod - coal %,Electricity prod - hydroelectric %,Electricity prod - natural gas %,Electricity prod - nuclear %,Electricity prod - oil %,"Electricity prod - oil, gas & coal %",Electricity prod - renewables %,GDP,GDP growth %,GDP per capita,GNI,GNI per capita,Income share - fourth 20%,Income share - top 10%,Income share - top 20%,Income share - bottom 10%,Income share - bottom 20%,Income share - second 20%,Income share - third 20%,Internet users %,Land area,Lending interest rate,Life expectancy at birth,Literacy rate,Military expenditure %,Infant mortality rate,Population growth,Population,Renewable electricity output %,Renewable energy consumption %,Suicide mortality rate,Alcohol consumption per capita,Urban population %,Wanted fertility rate
count,13952.000000,7.419000e+03,11847.000000,5957.000000,4916.000000,132.00000,13123.000000,1851.000000,281.000000,4833.000000,5.951000e+03,4660.000000,455.000000,1664.000000,3960.000000,13105.000000,618.000000,6057.000000,6057.000000,6057.000000,5950.000000,6057.000000,6057.000000,6057.000000,1.050200e+04,10128.000000,10506.000000,9.704000e+03,8976.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,2107.000000,6536.000000,1.206300e+04,4547.000000,12952.000000,1011.000000,7604.000000,11092.000000,13484.000000,1.370400e+04,5672.000000,6619.000000,3680.000000,936.000000,13608.000000,321.000000
mean,1991.500000,2.077671e+11,36.927654,6.350619,1.681230,13.61419,27.867500,59.196598,20.949517,12.937758,1.440633e+05,9.508047,20.793914,90.604324,6.208577,10.336154,15.932816,17.409401,32.696511,17.907201,4.569956,24.277462,59.594064,2.159494,1.940919e+11,3.646361,9491.966044,2.080580e+11,8392.846535,21.778026,29.502421,44.878358,2.556716,6.615615,11.213242,15.515282,25.362294,6.038131e+05,38.965919,64.748469,80.825283,2.711539,49.539775,1.738612,2.524993e+07,28.532611,30.469651,10.662921,5.521590,51.657147,3.469470
std,18.473615,9.619174e+11,22.414599,10.002840,2.047485,7.41143,13.092135,71.187982,16.786293,17.365775,6.548122e+05,2.340075,17.959169,7.866710,2.786360,5.531077,9.971683,26.824598,33.707073,28.152640,12.716284,30.403915,34.186452,5.440821,1.035277e+12,6.369452,18449.612242,1.086223e+12,14813.584352,1.393839,6.769641,7.268922,0.964186,2.057423,2.261421,2.034287,30.695775,1.632267e+06,1480.991729,11.270191,21.150637,3.183471,45.069042,1.782814,1.041902e+08,33.734553,30.626561,8.974411,4.185051,25.659976,1.362604
min,1960.000000,-7.930332e+07,0.262821,0.000000,0.000000,1.90000,5.000000,-1.170726,1.000000,0.000000,0.000000e+00,0.000000,0.539037,32.809990,1.263576,0.795000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.824744e+06,-64.047107,11.792676,9.122751e+06,10.000000,11.700000,18.300000,32.600000,0.000000,0.800000,4.300000,7.500000,0.000000,2.027000e+00,0.500000,11.995000,5.404650,0.000017,1.000000,-27.722225,2.646000e+03,0.000000,0.000000,0.000000,0.000000,2.077000,0.800000
25%,1975.750000,2.548912e+09,17.485819,0.401179,0.508712,8.37500,15.982000,30.793331,6.900000,1.524710,1.456590e+03,8.000000,5.499987,88.262848,4.171367,6.766000,8.169485,0.000000,1.584366,0.000000,0.000000,1.649100,29.754768,0.000000,1.498427e+09,1.232607,617.650759,1.622202e+09,640.000000,21.100000,24.500000,39.400000,1.800000,5.200000,9.700000,14.300000,0.198215,1.012000e+04,8.000000,57.723500,70.812889,1.189142,14.000000,0.680313,4.946300e+05,0.000000,3.340000,4.900000,1.791818,30.776000,2.300000
50%,1991.500000,1.226861e+10,37.625056,2.239674,1.035853,13.05000,26.333000,49.418511,15.100000,5.677750,9.190600e+03,9.000000,11.717569,92.198898,5.695489,9.000000,14.934020,0.138475,18.271231,1.735311,0.000000,10.098793,65.986013,0.000000,8.152914e+09,3.783736,2235.041469,8.987102e+09,2280.000000,22.200000,27.500000,42.900000,2.600000,6.900000,11.700000,16.100000,8.271610,1.071600e+05,11.664167,67.629476,90.378181,1.887913,34.400000,1.679789,4.258357e+06,11.852927,18.878268,8.200000,4.959615,50.836500,3.400000
75%,2007.250000,7.839457e+10,54.710446,7.712973,1.953746,16.50000,39.619000,73.830298,33.100000,15.797310,5.924365e+04,11.000000,36.154644,95.428015,7.900362,12.225000,22.747580,28.111447,61.055853,23.703065,0.000000,36.340852,92.827563,1.364528,5.527310e+10,6.253900,9416.293007,5.885681e+10,8302.500000,22.700000,33.200000,49.100000,3.300000,8.200000,12.900000,17.100000,47.599982,4.994400e+05,17.110833,73.012805,96.400143,3.153400,72.800000,2.640667,1.395966e+07,53.897165,53.085000,13.300000,8.713057,72.280000,4.500000
max,2023.000000,1.959300e+13,93.440750,71.542360,19.103127,40.30000,58.121000,2002.510415,74.400000,89.862869,1.094469e+07,17.000000,59.520414,100.000000,24.230680,103.534000,59.260880,100.000000,100.000000,100.000000,87.986221,100.000000,100.000000,65.443742,2.543970e+13,149.972963,240862.182448,2.597828e+13,125210.000000,25.500000,61.500000,71.000000,5.100000,11.700000,15.600000,19.100000,100.000000,1.638995e+07,99764.532950,85.497561,100.000000,117.349823,278.200000,20.473239,1.417173e+09,100.000000,98.340000,92.600000,19.047270,100.000000,7.400000

In [83]:
# check shape

df_renamed.shape

(13952, 55)

In [84]:
# check head

df_renamed.head()

,Country Name,Country Code,Year,Income Grouping,Top religion,National income,Agricultural land %,Alternative & nuclear energy use %,Armed forces personnel %,Avg child working hours,Birth rate,Government debt %,Employed children %,Children out of school %,CO2 emissions,Compulsory education duration,Social insurance coverage %,Current education expenditure %,Current health expenditure %,Death rate,Bachelor+ education %,Electricity prod - coal %,Electricity prod - hydroelectric %,Electricity prod - natural gas %,Electricity prod - nuclear %,Electricity prod - oil %,"Electricity prod - oil, gas & coal %",Electricity prod - renewables %,GDP,GDP growth %,GDP per capita,GNI,GNI per capita,Income share - fourth 20%,Income share - top 10%,Income share - top 20%,Income share - bottom 10%,Income share - bottom 20%,Income share - second 20%,Income share - third 20%,Internet users %,Land area,Lending interest rate,Life expectancy at birth,Literacy rate,Military expenditure %,Infant mortality rate,Population growth,Population,Renewable electricity output %,Renewable energy consumption %,Suicide mortality rate,Alcohol consumption per capita,Urban population %,Wanted fertility rate
0,Afghanistan,AFG,1960,NaN,Islam,NaN,NaN,NaN,NaN,NaN,50.340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.377778e+08,NaN,62.369375,5.488888e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.535,NaN,NaN,NaN,NaN,8622466.0,NaN,NaN,NaN,NaN,8.401,NaN
1,Afghanistan,AFG,1961,NaN,Islam,NaN,57.878356,NaN,NaN,NaN,50.443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.488889e+08,NaN,62.443703,5.600000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.068,NaN,NaN,NaN,1.925952,8790140.0,NaN,NaN,NaN,NaN,8.684,NaN
2,Afghanistan,AFG,1962,NaN,Islam,NaN,57.955016,NaN,NaN,NaN,50.570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.466667e+08,NaN,60.950364,5.577778e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,33.547,NaN,NaN,NaN,2.014879,8969047.0,NaN,NaN,NaN,NaN,8.976,NaN
3,Afghanistan,AFG,1963,NaN,Islam,NaN,58.031676,NaN,NaN,NaN,50.703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.511112e+08,NaN,82.021738,7.666667e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.016,NaN,NaN,228.9,2.078997,9157465.0,NaN,NaN,NaN,NaN,9.276,NaN
4,Afghanistan,AFG,1964,NaN,Islam,NaN,58.116002,NaN,NaN,NaN,50.831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000e+08,NaN,85.511073,8.155556e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652230.0,NaN,34.494,NaN,NaN,225.1,2.139651,9355514.0,NaN,NaN,NaN,NaN,9.586,NaN

### 5. Export data

In [225]:
# export df_wdi_transposed

df_wdi_transposed.to_csv(os.path.join(path, '01 Data','Prepared Data','wdi_transposed.csv'), index=False)

In [227]:
# export df_wdi_small

df_wdi_small.to_csv(os.path.join(path, '01 Data','Prepared Data','wdi_reduced.csv'), index=False)

In [468]:
# export df_merged

df_merged.to_csv(os.path.join(path, '01 Data','Prepared Data','wdi_merged1.csv'), index=False)

In [470]:
# export df_religion_small

df_religion_small.to_csv(os.path.join(path, '01 Data','Prepared Data','df_religion_small.csv'), index=False)

In [85]:
# export df_renamed

df_renamed.to_csv(os.path.join(path, '01 Data','Prepared Data','WDI_CLEANED.csv'), index=False)